body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-image: linear-gradient(rgba(240, 239, 239, 0),rgba(27, 27, 27, 0.308)),url(../images/background.jpg);
}
h2{
    color: white;
}
p{
    color: grey;
}
#title{
    background-image: linear-gradient(rgba(240, 239, 239, 0),rgba(27, 27, 27, 0.308)),url(../images/background.jpg);
    padding: 3% 15% 5%;
}

.brand-title{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}
#pricing{
    text-align: center;
    padding: 100px;
}

.price-heading, .price-text{
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}
/*calling*/
.product{
    text-align: center;
    color: rgb(155, 118, 118);
}